<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Hasil </title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>    
    <body>
        <div>KYU KYU STORE</div>
        <hr/>
              Nama Barang    : <b th:text="${nama}"></b></td><br>
              Harga Satuan   : <td><b th:text="${harga}"></b></td><br>
              Jumlah Barang  : <td><b th:text="${jumbarang}"></b></td><br>
              Total Harga    : <td><b th:text="${total}"></b></td><br>
              ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
              Diskon         : <td><b th:text="${jumdiskon}"></b></td><br>
              Total Akhir    : <td><b th:text="${totalakhir}"></b></td><br>
              ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~<br>
              Bayar          : <td><b th:text="${bayar}"></b></td><br>
              Kembalian      : <td><b th:text="${kembalian}"></b></td><br>
              <hr/>
        <footer>
            <div>Author: Nourin Alam Adzani</div>
            <div>NIM : 20200140128</div>
        </footer>
             </body>
      <html>